.layout--container {
    margin: 0;
    height: 100%;
    width: 100%;

    display: flex;
}

.layout--navbar-children {
    width: calc(100% - 3em);
    display: flex;
    flex-direction: column;
}

.children {
    background-color: aliceblue;
    padding: 1em 2em;
    padding-bottom: 5em;
}